<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>双向绑定</title>
  <script src="jquery.js"></script>
  <script>
    window.onload = function () {

      let $scope = {};

      let aEle = document.getElementsByTagName('*');

      //数据 -> input
      function apply() {
        Array.from(aEle).forEach(ele => {
          let model = ele.getAttribute('ng-model');

          if (model) {
            if ($scope[model]) {
              ele.value = $scope[model];
            } else {
              ele.value = '';
            }
          }
        })
      }

      //input -> 数据
      Array.from(aEle).forEach(ele => {
        let model = ele.getAttribute('ng-model');

        if (model) {
          ele.oninput = function () {
            $scope[model] = this.value;

            apply();
          }
        }
      })

    }
  </script>
</head>
<body>
  <input type="text" ng-model="a"/>
  <input type="text" ng-model="a"/>

  <select ng-model="a">
    <option value="1">北京</option>
    <option value="2">上海</option>
    <option value="3">广州</option>
    <option value="4">深圳</option>
  </select>

  <input type="text" ng-model="b"/>

  <select ng-model="b">
    <option value="1">北京</option>
    <option value="2">上海</option>
    <option value="3">广州</option>
    <option value="4">深圳</option>
  </select>
</body>
</html>